%div.container
  %div.col-md-12
    %h2.text-center Halted Request
    %p.text-center
      The request has been halted
      %span.label.label-danger on purpose.
    %hr
    %p.text-center
      Status code:
      %strong.label.label-default= status
