%div.container
  %div.col-md-12
    %h2 Info
    %p This is some information.
    %h2 Special Information
    %pre= @special_information

= quick_footer "%a{:href => '/'} <span class='fa fa-home text-muted'></span>"
